

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 0.5em;
}

.full-width {
	float: left;
	width: 100%;

	&.odd {
		background: darken($white, 2%);
		border-top: 1px solid darken($white, 5%);
		border-bottom: 1px solid darken($white, 5%);
	}

	&.green {
		background: $green;
		color: $white;
	}

	&.black {
		background: $black;
		color: $white;
	}
}

.above {
	position: relative;
	z-index: 3000;
}


.padded {
	&.padded-desktop {
		padding: 64px 0;
	}

	&.padded-thin {
		padding: 16px 0;
	}
}

@media screen and (max-width: $mobileBreak) {

	.padded {
		padding: 64px 0;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		&.padded-fat {
			padding: 128px 0;
		}
	}
}

@media screen and (min-width: 700px) {
	.wrapper {
		padding: 0 1em;
	}
}