.btn {
	display: inline-block;
	width: 100%;
	padding: 0 1em;

	background: $muted;
	border: none;

	line-height: 40px;
	color: $white;
	text-decoration: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-transition: 0.25s all ease-out;
	-moz-transition: 0.25s all ease-out;
	-ms-transition: 0.25s all ease-out;
	-o-transition: 0.25s all ease-out;
	transition: 0.25s all ease-out;


	&:hover,
	&:active,
	&:focus {
		color: inherit;
	}

	& + .btn {
		margin: 1em 0 0;
	}

	&.btn-pill {
		border-radius: 20px;
	}

	&.btn-green {
		background: $green;
		&:hover {
			background: lighten($green, 5%);
		}
	}

	&.btn-t-white {
		background: rgba($white, 0.25);
		&:hover {
			@include text-shadow();
			background: rgba($white, 0.5);
		}
	}

	&.btn-black {
		background: $black;
		&:hover {
			background: lighten($black, 5%);
		}
	}
}

@media screen and (min-width: $mobileBreak) {
	.btn {
		width: auto;
		& + .btn {
			margin: 0 0 0 1em;
		}
	}
}