.hero_SiteHead {
	background-image: url('/images/headerlogo.png');
}
.hero_SiteHead {
	text-indent: -10001px;

	width: 64px;
	margin: 32px auto 0;
	background: {
		image: url('/images/headerlogo.svg');
		position: 0 0;
		repeat: no-repeat;
		size: 100% auto;
	}
	opacity: 0.5;
}